@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --blueish-gradient: linear-gradient(90deg, #1473FB 0%, #3B4B92 100%);
    --accent-gradient: linear-gradient(90deg, #5C75E5 0%, #2476F9 100%);
    --accent-footer-gradient: linear-gradient(180deg, #5C75E5 0%, #2476F9 100%);
    --lp-gradient: linear-gradient(225deg, #E98E3B 100%, #E4720B 100%);
    --os-gradient: linear-gradient(225deg, #756AB6 100%, #8379BD 100%);
    --cp-gradient: linear-gradient(225deg, #164863 100%, #2D5A72 100%);
    --cs-gradient: linear-gradient(225deg, #0D7C66 100%, #258975 100%);

    body {
        font-family: 'Poppins', sans-serif;
        background-color: #171824;
    }

    h1 {
        font-size: 48px;
        font-weight: 700;
    }

    h2 {
        font-size: 30px;
        font-weight: 600;
    }

    p, span {
        font-size: 18px;
        font-weight: normal;
    }

    @media screen and (max-width: 768px) {
        h1 {
            font-size: 36px;
        }
    
        h2 {
            font-size: 24px;
        }
    
        p, span {
            font-size: 14px;
        }
    }
}

:root[theme-mode="light"] {
    body {
        font-family: 'Poppins', sans-serif;
        background-color: #FFFCF7;
    }
}